<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <%= render partial: 'addfriend', locals: { user: user } %>
  </span>
</li>