<section class="users-section">
  <h3>Confirmed Friends</h3>
  <ul class="users-list">
    <% @confirmed_friends.each do |request|%>
      <%= link_to request.name, user_path(request.id) %><br/>
    <% end %> 
  </ul>
</section>
<section class="users-section">
  <h3>Pending Invites By Me</h3>
  <ul class="users-list">
    <% @pending_friends_by_me.each do |request|%>
      <%= link_to request.name, user_path(request.id) %><br/>
    <% end %> 
  </ul>
</section>
<section class="users-section">
  <h3>Pending Invites To Me</h3>
  <ul class="users-list">
    <% @pending_friends_to_me.each do |request|%>
      <p class="name">Name: <%= request.name %> </p>
      <%=render partial: 'decline', locals: { request: request } %><br/>
    <% end %> 
  </ul>
</section>